.bg-gray {
    background-color: #e9ecef;
}

/* set edit loader to product edit admin */
#updateFormRootWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
/*overight editer style*/
